<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
 
  <div id="codeGenerate" style="text-align: center;width: 80%;">
      <template>


        <el-container >
            <el-aside  style="display: flex" width="200px"> 
                <el-menu
                style="text-align: left;"
                default-active="2"
                class="el-menu-vertical-demo"
                @open="handleOpen"
                @close="handleClose">
                <el-menu-item index="1">
                  <i class="el-icon-notebook-2"></i>
                  <a href="Code.html" target="_parent" style="text-decoration:none"><span slot="title">文本代码</span></a>
                </el-menu-item>
                <el-menu-item index="2">
                  <i class="el-icon-menu"></i>
                  <a href="Enum.html" target="_parent" style="text-decoration:none"><span slot="title">枚举</span></a>
                </el-menu-item>
                <el-menu-item index="3">
                  <i class="el-icon-document"></i>
                  <a href="Function.html" target="_parent" style="text-decoration:none"><span slot="title">函数</span></a>
                </el-menu-item>
                <el-menu-item index="4">
                  <i class="el-icon-setting"></i>
                  <a href="Define.html" target="_parent" style="text-decoration:none"><span slot="title">宏</span></a>
                </el-menu-item>
              </el-menu>
            </el-aside>
            <el-container >
              <el-main >
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label="枚举名" >
                        <el-input v-model="enumName" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="枚举作用" >
                    <el-input v-model="enumComment" clearable></el-input>
                    </el-form-item>
                    <el-divider></el-divider>
                    <el-form-item label="名称" >
                    <el-input v-model="form.name" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="常量">
                        <el-input v-model="form.constant" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="注释">
                    <el-input v-model="form.comment" clearable></el-input>
                    </el-form-item>
                </el-form>
      
              <div style="margin-top: 20px">
                <el-button @click="add()" type="primary">添加</el-button>
                <el-button  @click="dialogVisible = true" type="success">生成</el-button>
                <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">选择数据</el-button>
            </div>
              </el-main>
            </el-container>
          </el-container>


    <!-- <el-form ref="form" :model="form" label-width="80px">

        <el-form-item label="枚举名" >
            <el-input v-model="enumName" clearable></el-input>
        </el-form-item>
        <el-form-item label="枚举作用" >
        <el-input v-model="enumComment" clearable></el-input>
        </el-form-item>
        <el-divider></el-divider>
        <el-form-item label="名称" >
        <el-input v-model="form.name" clearable></el-input>
        </el-form-item>
        <el-form-item label="常量">
            <el-input v-model="form.constant" clearable></el-input>
        </el-form-item>
        <el-form-item label="注释">
        <el-input v-model="form.comment" clearable></el-input>
        </el-form-item>
    </el-form> -->


        <el-drawer :size="700" title="数据" :visible.sync="drawer" :direction="direction">
            <el-table max-height="290"ref="multipleTable":data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column label="标识符" width="120">
                    <template slot-scope="scope">{{ scope.row.name }}</template>
                </el-table-column>
                <el-table-column prop="constant" label="常量" width="120"></el-table-column>
                <el-table-column prop="comment" label="注释" show-overflow-tooltip></el-table-column>
                <el-table-column fixed="right" label="操作" width="120">
                    <template slot-scope="scope">
                        <el-button @click.native.prevent="deleteRow(scope.$index, tableData)" type="text" size="small">移除</el-button>
                    </template>
                </el-table-column>
            </el-table>
          </el-drawer>

        <!-- <div style="margin-top: 20px">
            <el-button @click="add()" type="primary">添加</el-button>
            <el-button  @click="dialogVisible = true" type="success">生成</el-button>
            <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">选择数据</el-button>
        </div> -->

        <el-dialog title="提示" :visible.sync="dialogVisible" width="70%">
        <div class="text item" style="text-align: left;">
            {{'/*Comment :' + enumComment +'*/'}}<br>
            {{'typedef ' + 'enum _'+ enumName}}<br>
            {<br>
          </div>
          <div v-for="(data,index) in multipleSelection" :key="data" class="text item" style="text-align: left;">
            <div class="text item" style="text-align: left;" v-if="index===multipleSelection.length-1">
                <!-- {{'  /*Comment :' + data.comment +'*/'}}
                {{'  '+data.name+'='+data.constant}} -->
                &nbsp;&nbsp;{{'  '+data.name+'='+data.constant+'/*Comment :' + data.comment +'*/'}}
            </div>

            <div class="text item" style="text-align: left;" v-else>
                <!-- &nbsp;&nbsp;{{'  /*Comment :' + data.comment +'*/'}} -->
                &nbsp;&nbsp;{{'  '+data.name+'='+data.constant+','+'/*Comment :' + data.comment +'*/'}}
            </div>

          </div>
          <div class="text item" style="text-align: left;">
            {{'}'+enumName+';'}}
          <br>
        
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
        </span>
      </el-dialog>
      
  </div>
</template>
</body>
<script>
new Vue({
    el: '#codeGenerate',
    data:{
        enumComment:'',
        enumName:'',
        dialogVisible:false,
        form:{},
        tableData: [],
        multipleSelection: [],
        drawer: false,
        direction: 'rtl',
    },
    methods: {
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        add(){
            if(this.tableData==undefined){
                this.tableData=new Array();
            }
            if(this.form.name!=null){
                let data={}
                data.name=this.form.name
                if(this.form.constant==null){
                    data.constant='';
                }else{
                    data.constant=this.form.constant
                }

                if(this.form.comment==null){
                    data.comment='';
                }else{
                    data.comment=this.form.comment;
                }
                // data.comment=this.form.comment
                this.tableData.push(data);

                this.$message({
                message: '添加成',
                type: 'success'
                });
            }else{
                this.$message({
                message: '标识符不能为空',
                type: 'warning'
                });
            } 
        },
        deleteRow(index, rows) {
            rows.splice(index, 1);
        }
    },
})
</script>
</html>
